```{image} ../../logos/python_for_data_science.png
:alt: python programming for data science
:height: 100px
```
<hr>

# Basic Data Types
<hr>

A **value** is a piece of data that a computer program works with such as a number or text. There are different **types** of values: `42` is an integer and `"Hello!"` is a string. A **variable** is a name that refers to a value. In mathematics and statistics, we usually use variable names like $x$ and $y$. In Python, we can use any word as a variable name as long as it starts with a letter or an underscore. However, it should not be a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc. as these words encode special functionality in Python that we don't want to overwrite!

It can be helpful to think of a variable as a box that holds some information (a single number, a vector, a string, etc). We use the **assignment operator** `=` to assign a value to a variable.

<!-- ![](img/chapter1/box.png)

Image modified from: [medium.com](https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40stevenpcurtis.sc%2Fwhat-is-a-variable-3447ac1331b9&psig=AOvVaw3YbYfgb7XFOJ_sHP5eliob&ust=1595365663851000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMi8nrfe3OoCFQAAAAAdAAAAABAZ) -->

```{tip}
See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes.
```

## Common built-in Python data types

| English name          | Type name  | Type Category  | Description                                   | Example                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| integer               | `int`      | Numeric Type   | positive/negative whole numbers               | `42`                                       |
| floating point number | `float`    | Numeric Type   | real number in decimal form                   | `3.14159`                                  |
| boolean               | `bool`     | Boolean Values | true or false                                 | `True`                                     |
| string                | `str`      | Sequence Type  | text                                          | `"I Can Has Cheezburger?"`                 |
| list                  | `list`     | Sequence Type  | a collection of objects - mutable & ordered   | `['Ali', 'Xinyi', 'Miriam']`               |
| tuple                 | `tuple`    | Sequence Type  | a collection of objects - immutable & ordered | `('Thursday', 6, 9, 2018)`                 |
| dictionary            | `dict`     | Mapping Type   | mapping of key-value pairs                    | `{'name':'DSCI', 'code':511, 'credits':2}` |
| none                  | `NoneType` | Null Object    | represents no value                           | `None`                                     |

## Numeric data types

There are three distinct numeric types: `integers`, `floating point numbers`, and `complex numbers` (not covered here). We can determine the type of an object in Python using `type()`. We can print the value of the object using `print()`.

In [1]:
x = 42

In [2]:
type(x)

int

In [3]:
print(x)

42

In Jupyter/IPython (an interactive version of Python), the last line of a cell will automatically be printed to screen so we don't actually need to explicitly call `print()`.

In [4]:
x  # Anything after the pound/hash symbol is a comment and will not be run

42

In [5]:
pi = 3.14159
pi

3.14159

In [6]:
type(pi)

float

## Arithmetic Operators

Below is a table of the syntax for common arithmetic operations in Python:

| Operator |   Description    |
| :------: | :--------------: |
|   `+`    |     addition     |
|   `-`    |   subtraction    |
|   `*`    |  multiplication  |
|   `/`    |     division     |
|   `**`   |  exponentiation  |
|   `//`   | integer division / floor division |
|   `%`    |      modulo      |

Let's have a go at applying these operators to numeric types and observe the results.

In [7]:
1 + 2 + 3 + 4 + 5  # add

15

In [8]:
2 * 3.14159  # multiply

6.28318

In [9]:
2 ** 10  # exponent

1024

Division may produce a different `dtype` than expected, it will change `int` to `float`.

In [10]:
int_2 = 2
type(int_2)

int

In [11]:
int_2 / int_2  # divison

1.0

In [12]:
type(int_2 / int_2)

float

But the syntax `//` allows us to do "integer division" (aka "floor division") and retain the `int` data type, it always rounds down.

In [13]:
101 / 2

50.5

In [14]:
101 // 2  # "floor division" - always rounds down

50

We refer to this as "integer division" or "floor division" because it's like calling `int` on the result of a division, which rounds down to the nearest integer, or "floors" the result.

In [15]:
int(101 / 2)

50

The `%` "modulo" operator gives us the remainder after division.

In [16]:
100 % 2  # "100 mod 2", or the remainder when 100 is divided by 2

0

In [17]:
101 % 2  # "101 mod 2", or the remainder when 101 is divided by 2

1

In [18]:
100.5 % 2

0.5

## None

`NoneType` is its own type in Python. It only has one possible value, `None` - it represents an object with no value. We'll see it again in a later chapter.

In [19]:
x = None

In [20]:
print(x)

None

In [21]:
type(x)

NoneType

## Strings

Text is stored as a data type called a `string`. We can think of a string as a sequence of characters.

```{tip}
Actually they are a sequence of Unicode code points. Here's a [great blog post](https://www.joelonsoftware.com/2003/10/08/the-absolute-minimum-every-software-developer-absolutely-positively-must-know-about-unicode-and-character-sets-no-excuses/) on Unicode if you're interested.
```

We write strings as characters enclosed with either:
  - single quotes, e.g., `'Hello'`
  - double quotes, e.g., `"Goodbye"`

There's no difference between the two methods, but there are cases where having both is useful (more on that below)! We also have triple double quotes, which are typically used for function documentation (more on that in a later chapter), e.g., `"""This function adds two numbers"""`.

In [22]:
my_name = "Tomas Beuzen"

In [23]:
my_name

'Tomas Beuzen'

In [24]:
type(my_name)

str

In [25]:
course = 'DSCI 511'

In [26]:
course

'DSCI 511'

In [27]:
type(course)

str

If the string contains a quotation or apostrophe, we can use a combination of single and double quotes to define the string.

In [28]:
sentence = "It's a rainy day."

In [29]:
sentence

"It's a rainy day."

In [30]:
type(sentence)

str

In [31]:
quote = 'Donald Knuth: "Premature optimization is the root of all evil."'

In [32]:
quote

'Donald Knuth: "Premature optimization is the root of all evil."'

## Boolean

The Boolean (`bool`) type has two values: `True` and `False`.

In [33]:
the_truth = True

In [34]:
the_truth

True

In [35]:
type(the_truth)

bool

In [36]:
lies = False

In [37]:
lies

False

In [38]:
type(lies)

bool

## Comparison Operators

We can compare objects using comparison operators, and we'll get back a Boolean result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [39]:
2 < 3

True

In [40]:
"Deep learning" == "Solve all the world's problems"

False

In [41]:
2 != "2"

True

In [42]:
2 is 2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_2709/564785565.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2

True

In [43]:
2 == 2.0

True

## Boolean Operators

We also have so-called "boolean operators" which also evaluates to either `True` or `False`:

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both True? |
|`x or y` | is at least one of `x` and `y` True? |
| `not x` | is `x` False? |

In [44]:
True and True

True

In [45]:
True and False

False

In [46]:
True or False

True

In [47]:
False or False

False

In [48]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [49]:
True

True

In [50]:
not True

False

In [51]:
not not True

True

```{note}
Python also has [bitwise operators](https://wiki.python.org/moin/BitwiseOperators) like `&` and `|`. Bitwise operators literally compare the bits of two integers. That's beyond the scope of this course but I've included a code snippet below to show you them in action.
```

In [52]:
print(f"Bit representation of the number 5: {5:0b}")
print(f"Bit representation of the number 4: {4:0b}")
print(f"                                    ↓↓↓")
print(f"                                    {5 & 4:0b}")
print(f"                                     ↓ ")
print(f"                                     {5 & 4}")

Bit representation of the number 5: 101
Bit representation of the number 4: 100
                                    ↓↓↓
                                    100
                                     ↓
                                     4

## Casting

Sometimes we need to explicitly **cast** a value from one type to another. We can do this using functions like `str()`, `int()`, and `float()`. Python tries to do the conversion, or throws an error if it can't.

In [53]:
x = 5.0
type(x)

float

In [54]:
x = int(5.0)
x

5

In [55]:
type(x)

int

In [56]:
x = str(5.0)
x

'5.0'

In [57]:
type(x)

str

In [58]:
str(5.0) == 5.0

False

In [59]:
int(5.3)

5

In [60]:
float("hello")

ValueError: could not convert string to float: 'hello'